header {
    background-color: #862121;
    color: beige;
    text-align: center;
    margin: 0, auto;
    padding: 16px;
    }

body {
    max-width: 100vw;
}

main {
    background-color: beige;
    color: #862121;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    }

article {
    display: flex;
    border: 1px solid #862121;
    margin: 16px;
    gap: 16px;
    padding: 16px;
    }

        img {
            width: 200px;
            height: 200px;
            padding: 5px;
        }

        div p {
            font-weight: bold;
        }

        .artigo-autor {
            font-weight: bold;
        }